{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block content %}
	<h1>Bienvenue sur ma page d'accueil !</h1>
	<p>Contenu de ma page d'accueil ici...</p>
{% endblock %}
